/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


#app {
  font-family: spectral;
  font-weight: bold;
}

.nav-main {

  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
  background: linear-gradient(to right, #191f1f, black);
}

nav .navbar .navbar-inverse{
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 99;
}


.texts {
  color: white;
}

li { font-size: 2.5rem;
  font-family: "Spectral SC", serif;}

p {
  font-family: "Spectral SC", serif;
  font-size: 1.9rem;
}

.left {
  font-weight: lighter;
  letter-spacing: .25rem;
}

.btn {
  color: #fff;
  font-size: 35px;
  line-height: 30px;
  padding: 21px 30px 15px 30px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

li.active a {
  color: #13b793;
  text-shadow: 0 0 2.5px #1f6354, 0 0 2.5px #1f6354;
}


 .hidden {
  display: none !important;
}


.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}


.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.website.callofcthulhu .section-home-presentation, .website.callofcthulhu .section-home-story, .website.callofcthulhu .section-home-gameplay, .website.callofcthulhu .section-home-sanity {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.website.callofcthulhu .page .page-home .section .section-home-accueil .animate{
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
}
.website.callofcthulhu .section-home-presentation {
  padding: 50px 0;
}
.website.callofcthulhu .section-home-presentation {
  background-size: auto;
  background-size: cover;
}
.website.callofcthulhu .section {
  border-bottom: 3px solid #1f6354;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: auto;
}
.website .section {
  min-height: 100vh;
  position: relative;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
* {
  box-sizing: border-box;
}
#app {
  font-family: "Spectral SC", serif;
  font-weight: bold;
}
#app {
  color: #fff;
}


.circle-container {
  position: relative;
  width: 48em;
  height: 48em;
  padding: 3.8em;
  /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
  /*border: dashed 1px;
  border-radius: 50%;*/
  margin: 8.75em auto 0;
}
.circle-container a {
  display: block;
  position: absolute;
  top: 50%; left: 50%;
  width: 4em; height: 4em;
  margin: -2em;
}


.circle-container img { display: block; width: 100%; }
.deg0 { transform: translate(24em); } /* 12em = half the width of the wrapper */
.deg72 { transform: rotate(72deg) translate(24em) rotate(-72deg); }
.deg144 { transform: rotate(144deg) translate(24em) rotate(-144deg); }
.deg216 { transform: rotate(216deg) translate(24em) rotate(-216deg); }
.deg288 { transform: rotate(288deg) translate(24em) rotate(-288deg); }


div.center{
  position: relative;
  top: 50%;
  left: 30%;
  font-weight: bold;
  font-size: 3em;
}

a.deg0:hover ~ div.center:after {
  content: 'Presentation';
  color: #9d9d9d;
}
a.deg72:hover ~ div.center:after {
  content: 'Histoire';
  color: #9d9d9d;
}
a.deg144:hover ~ div.center:after {
  content: 'Gameplay';
  color: #9d9d9d;
}
a.deg216:hover ~ div.center:after {
  content: 'Sante Mentale';
  color: #9d9d9d;
}
a.deg288:hover ~ div.center:after {
  content: 'Trailer';
  color: #9d9d9d;
}


div.center:hover {
  animation: pulse 5s;
}

h2{
  font-family: "Spectral SC", serif !important;
}

@keyframes pulse {
  0% {
    font-family: "highschool_runes_medium", serif;
  }
  10% {
    font-family: "highschool_runes_medium", serif;
  }
  30% {
    font-family: "highschool_runes_medium", serif;
  }
  50% {
    font-family: "highschool_runes_medium", serif;
  }
  60% {
    font-family: "Spectral SC", serif;
  }
  80% {
    font-family: "Spectral SC", serif;
  }
  100% {
    font-family: "Spectral SC", serif;
  }
}

div.center:after {
  content: "";
  animation: spin 5s normal;
}

#myNav_pres{
  background: url(http://cdn.focus-home.com/admin/games/call_of_cthulhu/background/background-presentation.jpg) no-repeat center;
}

#myNav_hist{
  background: url(http://cdn.focus-home.com/admin/games/call_of_cthulhu/background/background-story.jpg) no-repeat center;
}

#myNav_game{
  background: url(http://cdn.focus-home.com/admin/games/call_of_cthulhu/background/background-gameplay.jpg) no-repeat center;
}

#myNav_mental{
  background: url(http://cdn.focus-home.com/admin/games/call_of_cthulhu/background/background-sanity.jpg) no-repeat center;
}

